$fuente_principal : "Montserrat", sans-serif;

// Colores
$rojo : #E63946;
$blanco : #F1FAEE;
$azulcielo : #A8DADC;
$azulmedio : #457B9D;
$azulmarino : #1D3557;
$negro : #000000;

// Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;